.serviceOne-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:auto;
  }
    

.service-one-container{
    /* background-color: lightblue; */
    padding-bottom: 2rem;

}
.section-one{
    max-width: 1500px;
    margin:30px auto;
    padding: 20px;
}
.ser-one-text{
    grid-column: span 6;
    display: grid;
    justify-content: center;
    align-content: center;
    /* background-color: blue; */
}
.ser-one-stitle{
    font-size: 1.5rem;
    color: #00544f;
    margin-left: 1rem;

}

.ser-one-btitle{
    font-size: 5rem;
    /* maybe 5 or 5.5 */
    color: #00544f;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;

}

.ser-one-img{
    grid-column: span 6;
    display: grid;
    align-self: center;
    /* background-color: red; */
    padding: 10px 0;
}

.ser-one-watch{
    width: 85%;
    /* height: 50%; */
    justify-self: center;
    align-self: center;
}
@media (max-width:1744px){
    .ser-one-btitle{
        font-size: 5.5rem;
        
    }
}
@media (max-width:1607px){
    .ser-one-btitle{
        font-size: 5rem;
        
    }
}
@media (max-width:1469px){
    .ser-one-stitle{
        padding-left: 0rem;
    }
    .ser-one-btitle{
        font-size: 4.5rem;
    }
}
@media (max-width:1332px){
    .ser-one-btitle{
        font-size: 4rem;
        
    }
}
@media (max-width:1195px){
    .ser-one-btitle{
        font-size: 3.5rem;
        
    }
}
@media (max-width:1085px){
    .ser-one-btitle{
        font-size: 3.2rem;
        
    }
}
@media (max-width:975px){
    .ser-one-btitle{
        font-size: 3rem;
        
    }
}
@media (max-width:920px){
    .ser-one-btitle{
        font-size: 2.8rem;
        
    }
}
@media (max-width:865px){
    .ser-one-btitle{
        font-size: 2.5rem;
        
    }
}
@media (max-width:800px){
    .ser-one-text{
        grid-column: span 12;
        grid-row: 2;
        margin-bottom: 3rem;
        
    }
    .ser-one-img{
        grid-column: span 12;
        grid-row: 1;
    }
    .ser-one-btitle{
        font-size: 5rem;
    }
    .service-one-container{
        padding-bottom: 0;
    
    }
    
}

@media (max-width:751px){
    .ser-one-btitle{
        font-size: 4.5rem;
        
    }
}
@media (max-width:682px){
    .ser-one-btitle{
        font-size: 4rem;
        
    }
}

@media (max-width:604px){
    .ser-one-btitle{
        font-size: 3.8rem;
        
    }
}
@media (max-width:560px){
    .ser-one-btitle{
        font-size: 3.5rem;
        /* font-size: 3rem; */
        
    }
}
@media (max-width:503px){
    .ser-one-btitle{
        font-size: 3rem;
        /* font-size: 3rem; */
        
    }
}

@media (max-width:464px){
    .serviceOne-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
        row-gap: 1px;        
    }
    .ser-one-img{
        grid-column: span 4;
        display: grid;
    }
    
    .ser-one-text{
        grid-column: span 4;   
    }
}


@media (max-width:437px){
    .ser-one-btitle{
        font-size: 2.5rem;
    }
    
    .ser-one-stitle{
        font-size: 1.3rem;
    }
    
}

@media (max-width:369px){
    .ser-one-btitle{
        font-size: 2.2rem;
    }
    .ser-one-stitle{
        font-size: 1.1rem;
    }
}

@media (max-width:327px){
    .ser-one-btitle{
        font-size: 2.04rem;
    }
    .ser-one-stitle{
        font-size: 1.06rem;
    }
}

