.service-seven-container{
    background-color: #00544f;
    min-height: 450px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.service-seven{
    max-width:1500px;
    margin: 30px auto;
    color:#fff;
  
}

.ser-seven-text{
    grid-column: span 12;
    justify-self: center;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 11px;
}

@media (max-width:1270px){
    .ser-seven-text{
        font-size: 3.41rem;
    }
}
@media (max-width:1093px){
    .ser-seven-text{
        font-size: 3.1rem;
    }
}
@media (max-width:1000px){
    .ser-seven-text{
        font-size: 2.8rem;
    }
}
@media (max-width:910px){
    .ser-seven-text{
        font-size: 2.7rem;
    }
}
@media (max-width:616px){
    .ser-seven-text{
        font-size: 2.6rem;
    }
}
@media (max-width:593px){
    .ser-seven-text{
        font-size: 2.5rem;
    }
}
@media (max-width:593px){
    .ser-seven-text{
        font-size: 2.2rem;
    }
}
@media (max-width:502px){
    .service-seven-container{
        min-height: 250px;
    }

    .ser-seven-text{
        font-size: 2rem;
    }
}
@media (max-width:456px){
    .ser-seven-text{
        font-size: 1.8rem;
    }
}
@media (max-width:411px){
    .ser-seven-text{
        font-size: 1.7rem;
    }
}
