.serviceThree-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:auto;
  }

.ser-three-container{
    background-color: #fff;
    min-height: 800px;
    display: grid;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ser-three{
    max-width: 1500px;
    margin:30px auto;
    color: #00544f;
        
}
.sec-three-text{
    grid-column: span 6;
    display: grid;
    padding: 2rem 1rem;

}

.ser-three-title{
    display: grid;
    align-content: center;
    font-size: 4rem;
    align-self: end;
    padding-bottom: 3rem;
}

.ser-three-para{
    display: grid;
    align-content: center;
    font-size: 1.4rem;
    align-self: start;
}

.service-three-img{
    grid-column: span 6;
    display: grid;
    padding: 2rem 1rem;
    /* background-color: lightpink; */

    
}
.ser-three-img{
    width: 100%;
    justify-self: center;
}

@media(max-width:1492px){
    .ser-three-title{
        font-size: 3.8rem;
        padding-bottom: 1.4rem;
    }
    
    .ser-three-para{
        font-size: 1.22rem;
    }
}

@media(max-width:1398px){
    .ser-three-title{
        font-size: 3.6rem;
        padding-bottom: 1.4rem;
    }
    
    .ser-three-para{
        font-size: 1.2rem;
    }
}

@media(max-width:1370px){
    .ser-three-container{
        min-height: 600px;
    }
}

@media(max-width:1240px){
    .ser-three-title{
        font-size: 3.4rem;
        padding-bottom: 1rem;
    }
    
    .ser-three-para{
        font-size: 1.15rem;
    }

}
@media(max-width:1175px){
    .ser-three-title{
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }
    
    .ser-three-para{
        font-size: 1.12rem;
    }

}
@media(max-width:1145px){
    .ser-three-title{
        font-size: 3.1rem;
        padding-bottom: 1rem;
    }
    
    .ser-three-para{
        font-size: 1.12rem;
    }
  
}
@media(max-width:1090px){
    .ser-three-title{
        font-size: 3rem;
        padding-bottom: .5rem;
    }
    
    .ser-three-para{
        font-size: 1.03rem;
    }
  
}
@media(max-width:1035px){
    .sec-three-text{
        grid-column: span 12;
        grid-row: 1;
    }
    .ser-three-title{
        font-size: 3.6rem;
        /* margin-bottom: 1rem; */
    }
    .ser-three-para{
        font-size: 1.16rem;
    }
  
    .service-three-img{
        grid-column: span 12;
    }
    .ser-three-img{
        width: 80%;
    }
}


@media(max-width:958px){
    
    .ser-three-title{
        font-size: 3.6rem;
    }
    .ser-three-para{
        font-size: 1.1rem;
    }
    
}
@media(max-width:866px){
    
    .ser-three-title{
        font-size: 3.6rem;
        margin-bottom: .2rem;
    }
    .ser-three-para{
        font-size: 1.1rem;
    }

}
@media(max-width:750px){
    
    .ser-three-title{
        font-size: 3.2rem;
        margin-bottom: .2rem;
    }
    .ser-three-para{
        font-size: 1rem;
    }
    
}

@media(max-width:565px){
    .ser-three-title{
        font-size: 3rem;
        
    }
    .ser-three-para{
        font-size: 1rem;
    }
}
@media(max-width:484px){
    .ser-three-title{
        font-size: 3rem;
        
    }
    .ser-three-para{
        font-size: 1rem;
    }
}

@media(max-width:464px){
    .serviceThree-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
    }
    .sec-three-text{
        grid-column: span 4;
    }
    .service-three-img{
        grid-column: span 4;
        /* width: 100%; */
    }
    
}

@media(max-width:384px){
    .ser-three-title{
        font-size: 3rem;
        
    }
    .ser-three-para{
        font-size: 1rem;
        margin-bottom: .5rem;

    }
    
}

