.ser-four-container{
    padding-top: 1rem;
    padding-bottom: 5rem;
    background-color: #00544f;
}
/* .ser-four{
    max-width: 1500px;
    margin:30px auto;
    padding: 20px;
} */
.ser-four-title{
    grid-column: span 12;
    text-align: center;
    font-size: 5rem;
    margin: 1rem 0;
    color: #fff;
}
.ser-four-subtext{
    grid-column: span 12;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    width: 90%;
    display: grid;
    justify-content: center;
    margin:auto;
}
.ser-four-video{
    grid-column: span 12;
    display: grid;
    
}
.ser-watch-video{
    width: 90%;
    justify-self: center;
}

@media (max-width:1300px){
    .ser-four-title{
        font-size: 4rem;
    }
    .ser-four-subtext{
        font-size: 1.4rem;
    }
}
@media (max-width:720px){
    .ser-four-title{
        font-size: 3.5rem;
    }
    .ser-four-subtext{
        font-size: 1.3rem;
    }
}
@media (max-width:464px){
    .grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .ser-four-title{
        font-size: 3rem;
    }
    .ser-four-subtext{
        font-size: 1.2rem;
        margin-top:1rem;
    }
}