.secFour-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:0 2rem;
  }
  
.section-four-container{
    background-color: #00544f;
    min-height: 450px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.section-four{
    max-width:1500px;
    margin: 30px auto;
    color:#fff;
  
}

.sec-four-text{
    grid-column: span 12;
    justify-self: center;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 11px;
}

@media (max-width:1270px){
    .sec-four-text{
        font-size: 3.41rem;
    }
}
@media (max-width:1093px){
    .sec-four-text{
        font-size: 3.1rem;
    }
}
@media (max-width:1000px){
    .sec-four-text{
        font-size: 2.8rem;
    }
}
@media (max-width:910px){
    .sec-four-text{
        font-size: 2.7rem;
    }
}
@media (max-width:616px){
    .sec-four-text{
        font-size: 2.6rem;
    }
}
@media (max-width:593px){
    .sec-four-text{
        font-size: 2.5rem;
    }
}
@media (max-width:593px){
    .sec-four-text{
        font-size: 2.2rem;
    }
}
@media (max-width:502px){
    .section-four-container{
        min-height: 250px;
    }

    .sec-four-text{
        font-size: 2rem;
    }
}
@media (max-width:464px){
    .secFour-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
    }
    .sec-four-text{
        grid-column: span 4;
        justify-self: center;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 11px;
    }
}
@media (max-width:456px){
    .sec-four-text{
        font-size: 1.8rem;
    }
}
@media (max-width:411px){
    .sec-four-text{
        font-size: 1.7rem;
    }
}
