.sign-in-container{
    /* background-color: red; */
    display: grid;
    justify-content: center;
    align-content: center;
}

.sign-in{
    row-gap: 0;
    background-color: #fff;
    padding:3rem 3rem 3rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signin-title{
    grid-column: span 12;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 3rem;
    font-family: 'Comfortaa', cursive;
    color: #00544f;
    margin-top: 2.375rem;
}
.sign-in-email{
    grid-column: span 12;
}
.sign-in-email input{
    /* width: 100%; */
    width: 400px;
    font-size: .9rem;
    border-radius: 0;
    height: 3.5rem;
    margin-bottom: 0;
    border:1px #f1f1f1 solid;
    /* margin: 0 2rem; */
    padding-left: 1rem;
}

.sign-in-email input:focus{
    outline: solid #00544f 1px;
    /* border-radius: 2px; */
    margin-bottom: 1px;
}

.sign-in-password{
    grid-column: span 12;
}
.sign-in-password input{
    /* width: 100%; */
    width: 400px;
    /* margin: 0 2rem; */
    font-size: .9rem;
    border-radius: 0;
    /* height: 36px; */
    height: 3.5rem;
    border:1px #f1f1f1 solid;
    padding-left: 1rem;

}

.sign-in-password input:focus{
    outline: solid #00544f 1px;
    /* border-radius: 2px; */
}

.sign-in-submit{
    grid-column: span 12;
    margin-top: 1rem;
}
/* .sign-in-submit input{
    width: 400px;
    text-align: center;
    height: 38px;
    background-color: #007e78;
    color: #fff;
    height: 3.5rem;
} */

.sign-in-submit button{
    margin-top: 0;
    width: 400px;
    text-align: center;
    height: 38px;
    background-color: #007e78;
    color: #fff;
    font-size: .9rem;
    height: 3.5rem;
    border-radius: 0;
    /* font-weight: 100; */
}
.sign-in-forget{
    grid-column: span 12;
    margin: 0 auto;   
    margin-top: 2.5rem;  
    /* color: #003f3b; */
    font-size: .95rem;
    margin-bottom: 2.375rem;
}

.sign-in-forget button{
    color: #007e78;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: .95rem;
}

.forgotPass-sloganOne{
    grid-column: span 12;
    margin: auto;
    font-size: 2.2em;
    margin-bottom: 1rem;
    color: #003f3b;
}

.forgotPass-sloganTwo{
    grid-column: span 12;
    font-size: 1.05em;
    margin: auto;
    margin-bottom: 3rem;
    color: #3e5553;

}
.forgot-submit{
    grid-column: span 12;
    margin-top: 1rem;
}

.forgot-submit input{
    text-align: center;
    width: 400px;
    text-align: center;
    height: 38px;
    background-color: #007e78;
    color: #fff;
    height: 3.5rem;
    font-size: 1.02rem;
}

.forgot-submit button{
    margin-top: 0;
    text-align: center;
    width: 400px;
    text-align: center;
    height: 38px;
    background-color: #007e78;
    color: #fff;
    height: 3.5rem;
    font-size: .9rem;
    border-radius: 0;
}
.forgot-back{
    grid-column: span 12;
    
}

.forgot-back button{
    width: 400px;
    text-align: start;
    color: #003f3b;
    height: 38px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: .95rem;
}

.forgot-back-arrow{
    color: #003f3b;
    font-size: .7rem;
}

.forgot-key{
    grid-column: span 12;
    display: grid;
    margin-bottom: 1rem;
}

.forgot-key-icon{
    width: 90px;
    justify-self: center;
}

.email-sent-sloganOne{
    grid-column: span 12;
    margin: auto;
    font-size: 2.2em;
    margin-bottom: 1rem;
    color: #003f3b;
}

.email-sent-sloganTwo{
    grid-column: span 12;
    font-size: 1.05em;
    margin: auto;
    color: #3e5553;
}

.email-sent-email{
    grid-column: span 12;
    text-align: center;
    /* margin-bottom: .5rem; */

}

.email-sent-notReceive{
    grid-column: span 12;
    text-align: center;
    margin-bottom: 7.5625rem;
}

.email-sent-notReceive button{
    color: #007e78;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: .95rem;
}

.forgot-back{
    grid-column: span 12;
}

.email-sent{
    grid-column: span 12;
    display: grid;
    margin-bottom: 1rem;
}

.email-sent-icon{
    width: 90px;
    justify-self: center;
    
}

/* ---------------------------------------------------------------------- */
@media(max-width: 565px){
    .sign-in-container{
        display: block;
    }
    .grid-system{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin:auto 1rem;
        width: 100%;
        

    }
    
    .sign-in{
        background-color: #ecfafe;
        padding:0;
        box-shadow: none;
        
    }
    
    .signin-title{
        grid-column: span 4;
    }
    

    .sign-in-email{
        grid-column: span 4;

    }
    .sign-in-email input{
        width: 95%;
        
    }
    
    .sign-in-email input:focus{
        outline: solid #00544f 1px;
        margin-bottom: 1px;
    }
    
    .sign-in-password{
        grid-column: span 4;
    }
    .sign-in-password input{
        width: 95%;
    }
    
    .sign-in-submit{
        grid-column: span 4;        
    }
  
    .sign-in-submit button{  
        width: 95%;
    }
    .sign-in-forget{
        grid-column: span 4;
        margin-top: 2.5rem; 
        display: block;
        justify-content: center;
        align-content: center;
    }
    

    .forgotPass-sloganOne{
        grid-column: span 4;
    }
    
    .forgotPass-sloganTwo{
        grid-column: span 4;
    
    }
    .forgot-submit{
        grid-column: span 4;
        margin-top: 1rem;
    }
    
    
    .forgot-submit button{
        width: 95%;
    }
    .forgot-back{
        grid-column: span 4;
    }
    
    .forgot-back button{
        width: 400px;
    }
    
    
    .forgot-key{
        grid-column: span 4;
        margin-top: 2rem;
    }
    
    .email-sent-sloganOne{
        grid-column: span 4;
    }
    
    .email-sent-sloganTwo{
        grid-column: span 4;
        font-size: 1.05em;
        margin: auto;
        margin-bottom: .3rem;
        color: #3e5553;
    }
    
    .email-sent-email{
        grid-column: span 4;
        text-align: center;
    
    }
    
    .email-sent-notReceive{
        grid-column: span 4;
        margin-bottom: 1rem;
    }
    
    .forgot-back{
        grid-column: span 4;
    }
    
    .email-sent{
        grid-column: span 4;
    }
    
    .email-sent-icon{
        margin-top: 2rem;
    }
}

