.error-page-container{
    height: 100vh;
} 

.error-fullScreen-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.error-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:auto;
}

.error-logo,.error-content,.error-paraOne,.error-paraTwo{
  grid-column: span 12;
}

.error-logo{
  margin: auto;
}