.footer-container{
    background-color: #00544f;
}

.footer-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    /* margin:0 2rem; */
    margin:auto;
  }

.footer{
    padding: 40px 0px 10px 0px;
    grid-template-rows: repeat(1fr,5);
}

.footer-logo{
    grid-column: span 3;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
}

.footer-logo p{
    cursor: pointer;
}
.footer-logo p:hover{
    color: #07c79a;
}

.footer-company-links{
    grid-column: span 3;
}
.footer-quick-links{
    grid-column: span 3;
}
.footer-contact-us{
    grid-column: span 3;
}
.footer-company-title , .footer-quick-title,.footer-contact-title{
    justify-self: start;
    font-size: 1.7rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: fit-content;
    padding-bottom: 5px;
}

.footer-links{
    justify-self: center;
    margin: 2rem 0;
}
.footer-link:hover{
    /* color: #07c79a; */
    /* border-bottom: .5px solid #fff; */
    color: #e7e6e6;
    /* color: #cfcfcf; */
}
.footer-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.footer-contact a{
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
}
/* .footer-contact a:hover{
   color: #07c79a;
       border-bottom: .5px solid #fff;

} */


.contact-icon{
    margin-right: .5rem;
    font-size: .9rem;
}

.footer-contact{
    color:#fff;
    margin:2rem 0;
}
.footer-copyright{
    grid-column: span 6;
    color: #fff;

}

.footer-social{
    grid-column: span 6;
    display: flex;
    justify-content: flex-end;
}

.footer-social-icon{
    color: #fff;
    margin-left: 1rem;
}

@media(max-width:1264px){
    .footer{
        column-gap: 1px;
    }
}



@media(max-width:1171px){
    .footer-logo{
        grid-column: span 3;
        grid-row: 1;
        justify-content: start;
        align-content: center;
        margin-bottom: 1rem;
    }
    .footer-company-links{
        grid-column: span 12;
        grid-row: 2;
        display: flex;
        justify-content: flex-start;
    }
    .footer-company-title,.footer-quick-title{
        display: grid;
        justify-content: center;
        align-content: center;
        margin-right: 2rem;
    }
    .footer-links{
        margin:0;
        margin-right: 2rem;
    }
    .footer-quick-links{
        grid-column: span 12;
        grid-row: 3;
        display: flex;
        justify-content: flex-start;
        display: flex;
    }

    .footer-contact-us{
        grid-column: span 12;
    }
    
    .footer-social{
        grid-column: span 9;
        grid-row: 1;
        justify-content: end;
    }

    .footer-social-icon{
        margin-left: 0px;
        margin-right: 1rem;
    }

    .footer-copyright{
        grid-row: 5;
        grid-column: span 12;
    }
}


@media(max-width:561px){
    .footer-company-title,.footer-quick-title{
        margin-right: 1rem;
    }
    .footer-links{
        margin-right: 1rem;
    }
}


/* ------------for small screens */
@media (max-width:464px){
    .footer-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding-left: 1rem;
        margin:auto;
        width: 100%;
        row-gap: 1px;        
    }

    .footer-logo{
        grid-column: span 4;
        /* margin-bottom: 2rem; */
    }

    .footer-company-links, .footer-quick-links{
        grid-column: span 4;
        display: flex;
        flex-direction: column;
    }

    .footer-company-title,.footer-quick-title,.footer-contact-title{
        /* display: none; */
        margin-top: 2rem;
    }

    .footer-links{
        margin-right: 0;
        margin-top: 1rem;
    }

    
    
    .footer-social{
        grid-column: span 4;
        grid-row: 5;
        justify-self: start;
        margin-bottom: 2rem;
    }

    .footer-social-icon{
        margin-right: 3rem;
    }

    .footer-copyright{
        grid-column: span 4;
        grid-row: 6;
    }
    
}