.sign-up-container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.signup-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    /* margin:0 2rem; */
    margin:auto;
  }
  
.sign-up{
    row-gap: 0;
    background-color: #fff;
    padding:3rem 3rem 3rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-title{
    grid-column: span 12;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Comfortaa', cursive;
    margin-top: 2.375rem;
    text-decoration: none;
    font-weight: 600;

}
.signup-title p{
    color: #00544f;
    font-size: 2.2em;
}
.sign-up-email{
    grid-column: span 12;
}


#signup-email{
    border-radius: 0;
    width: 400px;
    font-size: .9rem;
    height: 3.5rem;
    margin-bottom: 0;
    border:1px #f1f1f1 solid;
    /* margin: 0 2rem; */
    padding-left: 1rem;
}
.sign-up-email input:focus{
    outline: solid #00544f 1px;
    /* border-radius: 2px; */
    margin-bottom: 1px;
}


.sign-up-submit{
    grid-column: span 12;
    margin-top: 1rem;
}


.sign-up-submit button{
    margin-top: 0;
    width: 400px;
    text-align: center;
    height: 38px;
    background-color: #007e78;
    color: #fff;
    font-size: .9rem;
    height: 3.5rem;
    border-radius: 0;
    /* font-weight: 100; */
}

.sign-up-alreadySigned{
    grid-column: span 12;
    margin: 0 auto;   
    margin-top: 2.5rem;  
    /* color: #003f3b; */
    font-size: .95rem;
    margin-bottom: 2.375rem;
    display: flex;
}

.sign-up-alreadySigned p{
    color: #007e78;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-left: .3rem;
    font-size: .95rem;
}

/* ---------------------------------------------------------------------- */
@media(max-width: 565px){
    .sign-up-container{
        display: block;
        height: 100vh;
        /* width: 100vw; */
    }
    
    .signup-grid-system{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* margin:auto 1rem; */
        /* margin-left:1rem;
        margin-right:1rem; */
        width: 100%;
    }
    
    .sign-up{
        background-color: #ecfafe;
        padding:0;
        box-shadow: none;
    }
    
    .signup-title{
        grid-column: span 4;
    }
    

    .sign-up-email{
        grid-column: span 4;
        margin: auto;
        width: 95%;

    }
    #signup-email{
        width: 100%;
    }
    
    .sign-up-email input:focus{
        outline: solid #00544f 1px;
        margin-bottom: 1px;
    }
    
    
    .sign-up-submit{
        grid-column: span 4; 
        margin: auto;
        margin-top: 1rem;
        width: 95%;
    }
    .sign-up-submit button{  
        width: 100%;
    }
    .sign-up-alreadySigned{
        grid-column: span 4;
        margin-top: 2.5rem; 
        display: block;
        justify-content: center;
        align-content: center;
    }
}

