.about-four-container{
    background-color: #f7f7f7;
    /* background-color: lightcoral; */
}
.aboutFour-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:auto;
}
.about-four{
    max-width: 1500px;
    margin:30px auto;
    padding: 20px;
    min-height: 550px;

}
.about-four-img{
    grid-column: span 6;
    display: grid;
}

.about-four-photo{
    justify-self: start;
    align-self: center;
    width: 98%;
}

.about-four-text{
    grid-column: span 6;
    display: grid;
    color: #00544f;

}

.about-four-title{
    align-self: end;
    justify-self: center;
    font-size: 3rem;
    width: 90%;
    margin-bottom: 1rem;
}

.about-four-para{
    align-self: start;
    justify-self: center;
    font-size: 1.1rem;
    width:90%;

}

@media (max-width:1250px){
    .about-four-title{
        font-size: 2.8rem;
    }
}

@media (max-width:1119px){
    .about-four-title{
        font-size: 2.7rem;
    }
}

@media (max-width:1030px){
    .about-four-title{
        font-size: 2.57rem;
    }
}

@media (max-width:970px){
    .about-four-title{
        font-size: 2.5rem;
    }
    .about-four-para{
        font-size: 1rem;
    }
}

@media (max-width:900px){
    .about-four-title{
        font-size: 2.4rem;
        margin-bottom: .5rem;

    }
    .about-four-para{
        font-size: 1rem;
        padding-left: .1rem;
    }
}

@media (max-width:800px){
    .about-four-img{
        grid-column: span 12;
        grid-row: 1;
    }
    .about-four-photo{
        margin: auto;
    }
    .about-four-text{
        grid-column: span 12;
        grid-row: 2;

    }
    .about-four-title{
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: .5rem;
        margin-top: 0;
        

    }
    .about-four-para{
        font-size: 1.2rem;
        text-align: center;
        padding-left: .1rem;
    }
}

@media (max-width:550px){
    .about-four-title{
        font-size: 2.7rem;
    }
    .about-four-para{
        font-size: 1.1rem;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width:464px){
    .aboutFour-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
        row-gap: 1px;        
    }

    .about-four-img{
        grid-column: span 4;
        display: grid;
    }
    
    .about-four-text{
        grid-column: span 4;
        display: grid;
        color: #00544f;
    
    }
    
}

@media (max-width:460px){
    .about-four-title{
        font-size: 2.6rem;
    }
    .about-four-para{
        font-size: 1rem;
    }
}


@media (max-width:380px){
    .about-four-title{
        font-size: 2.5rem;
        margin-bottom: .7rem;
    }
    .about-four-para{
        font-size: 1rem;
    }
}

