/* .register-sec{
    width: 100%;
    margin: auto;
    justify-self: center;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
a, a:visited {
    color: #fff;
}
input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
label,
button {
  margin-top: 1rem;
}


button{
    padding: 0.5rem;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}
.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
} */
.register-sec{
    width: 100%;
    margin: auto;
    justify-self: center;
    max-width: fit-content;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* background-color: rgba(0,0,0,0.4); */
}

.register-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.reg-fulln-container{
    grid-column: span 2;
}
.reg-fname-container{
    grid-column: span 1;
    margin-right: 1rem;
}
.reg-lname-container{
    grid-column: span 1;
}
.reg-email-container{
    grid-column: span 2;
}
.reg-pass-container{
    grid-column: span 2;
}
.reg-match-container{
    grid-column: span 2;
}
.reg-name-input{
    /* width: 250px; */
    height: 45px;
}
.reg-full-input{
    height: 45px;
}
.reg-form-layout{
    display: grid;
}


a, a:visited {
    color: #fff;
}
input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border:1px solid #a3a3a3;
}

label,
button {
  margin-top: 1rem;
}


button{
    padding: 0.5rem;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}
.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
.errmsg {
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}