.section-seven-container{
    padding-bottom: 3rem;
}
.section-seven{
    max-width:1500px;
    margin: 30px auto;
    /* background-color: red; */
    /* background-color: lightcoral; */
}

.secSeven-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    /* margin:0 2rem; */
    margin:auto;
  }

.seven-header{
    margin-top: 2rem;
    grid-column: span 12;
    justify-self: center;
    font-size: 4rem;
    color: #005450;
    text-align: center;
}


.seven-toggle-time{
    grid-column: span 12;
    justify-self: center;
    color: #005450;
    display: grid;
    justify-content: center;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    /* margin: 1.5rem 0; */
    
}

.seven-toggle-btn{
    display: grid;
    align-items: center;
    justify-items: start;
    padding: 0 10px;
    height:100%;
}

.seven-checkbox{
    visibility: hidden;
    position: absolute;
    width: 3.3rem;
}

.seven-sub{
    background:linear-gradient(
        135deg,#3e7059,
       #005450);
    display: grid;
    justify-content: start;
    align-content: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
    justify-self: center;
}

.toggle-time{
    justify-self: center;
    align-self: center;
    font-size: 1.4rem;
}

.seven-circle{
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    cursor: pointer;
}

.seven-checkbox:checked + .seven-sub{
    justify-content: end;
    
}

.seven-cards{
    margin-top: 2rem;
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 600px;
    
}

.seven-card{
    color: #fff;
    width: 29rem;
    height: 35rem;
    border-radius: 0.8rem;
    justify-self: center;
    display: grid;
    align-content: center;
    grid-template-rows: 20% 25% 30% 25%;
    box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.1);
    background-color:  #005450;
    /* background-image: linear-gradient(#3e7059, #005450); */
}



.seven-card-one{
    justify-self: end;

}
.seven-card-two{
    justify-self: center;

}
.seven-card-three{
    justify-self: start;

}

.seven-card-content{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    justify-self: center;

}

.seven-card-header{
    font-size: 1.4rem;
}
.seven-card-price{
    font-size: 4rem; 
    border-bottom: 2px solid hsl(240,8%,85%,0.583);
}
.seven-card-benefits{
    font-size: 1.4rem;
    border-bottom: 2px solid hsl(240,8%,85%,0.583);
}
.sec-seven-btn{
    justify-self: center;
    align-self: center;
    border: none;
    height: 2.6rem;
    width: 13.3rem;
    border-radius: 4px;
    background: #fff;
    font-size: 1.3rem;
    text-decoration: none;    
    display: grid;
    justify-content: center;
    align-content: center;

}
.sec-seven-btn p{
    color: #005450;
}

@media (max-width:1401px){
    .seven-toggle-time{
        margin-bottom: 2rem;
    }
}
@media (min-width:1400px){

    .seven-card:hover{
        color: #005450;
        background-color: #fff;
        
    }
    .seven-card:hover  .sec-seven-btn p{
        color: #fff;
        background: #005450;
        cursor: pointer;
        height: 2.6rem;
        width: 13.3rem;
        border-radius: 4px;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
}
/* ======================================================= */
.swiper-secSeven{
    grid-column: span 12;
}

@media (max-width:1349px){
       
    .seven-card{
        width: 40rem;
    }
}
@media (max-width:1285px){
       
    .seven-card{
        width: 37rem;
    }
}
@media (max-width:1187px){
       
    .seven-card{
        width: 35rem;
    }
}
@media (max-width:1123px){
       
    .seven-card{
        width: 32rem;
    }
}
@media (max-width:1123px){
       
    .seven-card{
        width: 28rem;
    }
}
@media (max-width:885px){
       
    .seven-card{
        width: 30rem;
        margin: auto;
    }

}
@media (max-width:565px){
    
    .seven-toggle-time{
        margin-bottom: 2rem;
    }
}

@media (max-width:487px){
    .seven-card {
        /* width: 24rem; */
        width: 24rem;
    }
}
@media (max-width:391px){
    .seven-card {
        /* width: 24rem; */
        width: 22rem;
        height: 30rem;
    }
}
@media (max-width:487px){
    .seven-card-header{
        font-size: 1.4rem;
    }
    .seven-card-price{
        font-size: 3.5rem; 
    }
}

@media (max-width:354px){
    .seven-card {
        width: 19rem;
        height: 27rem;
    }
    .seven-card-header{
        font-size: 1.4rem;
    }
    .seven-card-price{
        font-size: 3rem; 
    }
    .seven-card-benefits{
        font-size: 1.3rem;
    }
    .sec-seven-btn{
        font-size: 1.2rem;
    }
}

/* ---------------------------------- */
@media (max-width:464px){
    .secSeven-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
    }
    .swiper-secSeven{
        grid-column: span 4;
    }
    .seven-header{
        grid-column: span 4;
    }
    .seven-toggle-time{
        grid-column: span 4;
    }
    .seven-cards{
        grid-column: span 4;
    }
    .seven-carousel{   
        grid-column: span 4;
    }
    
  }
  
  @media (max-width:362px){
    .seven-header{
        font-size: 3.5rem;
    }
  }