.sec-five-container{
    background-color: #fff;
    min-height: 800px;
    display: grid;
    align-content: center;
}

.secFive-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    margin:auto;
  }
  
.section-five{
    max-width: 1500px;
    margin:30px auto;
    color: #00544f;
        
}
.sec-five-text{
    grid-column: span 6;
    display: grid;
    padding: 2rem 1rem;
    grid-template-rows: 20% 60% 20%;
}

.five-title{
    display: grid;
    align-content: center;
    font-size: 4rem;
}

.five-para{
    display: grid;
    align-content: center;
    font-size: 1.4rem;
}

.sec-five-button{
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    color: #00544f;
    padding: .8rem 3rem;
    font-size: 1.2rem;
    border: #00544f solid 1px;
    text-decoration: none;
}

.sec-five-button p{
    text-decoration: none;
    color: #00544f;
}

.sec-five-button:hover{
    background-color: #005450;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.sec-five-button:hover p{
    color: #fff;
}

.sec-five-img{
    grid-column: span 6;
    display: grid;
    padding: 2rem 1rem;

    
}
.five-img{
    width: 100%;
    justify-self: center;
}

@media(max-width:1370px){
    .sec-five-container{
        min-height: 600px;
    }
}

@media(max-width:1200px){
    .five-title{
        font-size: 3.8rem;
    }
    .five-para{
        font-size: 1.3rem;
    }
    .sec-five-button{
        font-size: 1.1rem;
    }
}
@media(max-width:1113px){
    .five-title{
        font-size: 3.5rem;
    }
    .five-para{
        font-size: 1.2rem;
    }
    .sec-five-button{
        font-size: 1rem;
    }
}
@media(max-width:1035px){
    .sec-five-text{
        grid-column: span 12;
        grid-row: 2;
    }
    .five-title{
        font-size: 4rem;
    }
    .five-para{
        font-size: 1.2rem;
    }
    .sec-five-button{
        font-size: .9rem;
    }
    .sec-five-img{
        grid-column: span 12;
    }
    
}


@media(max-width:958px){
    
    .five-title{
        font-size: 3.6rem;
    }
    .five-para{
        font-size: 1.1rem;
    }
    
}
@media(max-width:866px){
    
    .five-title{
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }
    .five-para{
        font-size: 1.1rem;
    }
    .sec-five-button{
        font-size: .9rem;
    }
}
@media(max-width:672px){
    
    .five-title{
        font-size: 3.1rem;
        margin-bottom: 1.5rem;
    }
    .five-para{
        font-size: 1rem;
    }
    .sec-five-button{
        font-size: .8rem;
    }
}
@media(max-width:464px){
    .secFive-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
    }
    .sec-five-text{
        grid-column: span 4;
    }
    .sec-five-img{
        grid-column: span 4;
    }
    
}

@media(max-width:359px){
    
    
    .five-para{
        margin-bottom: .5rem;
    }
    
}

