.section-two-containerNew{
    background-color: #00544f;
    padding-bottom: 1rem;
}

.secTwoNew-grid-system{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
    /* margin:0 2rem; */
    margin:auto;
  }
.section-twoNew{
    max-width: 1500px;
    margin:30px auto;
    padding: 20px;
    /* min-height: 800px; */
    row-gap: 0;
}

.two-headlineNew{
    grid-column: span 12;
    /* justify-self: center; */
    margin-bottom: 4rem;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    color: #fff;
    height: 10px;
}

.two-subheadlineNew{
    grid-column: span 12;
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
    /* margin-bottom: 3rem; */
    color: #fff;
}

.card1New{
    grid-column: 1/5;
    background-color: #fff;
    justify-self: end;
}
.card2New{
    grid-column: 5/9;
    background-color: #fff;
    justify-self: center;

}
.card3New{
    grid-column: 9/13;
    justify-self: start;

}

.mission-cardNew{
    border-radius: 20px;
    width: fit-content;
    padding: 2.5rem;
    background-color: #fff;
    color: #00544f;
    display: grid; 
} 

.card-headingNew{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin: .5rem 0;
}

.card-subheadingNew{
    font-size: 1.1rem;
    text-align: center;
    min-width: 210px;
}
.card-imgNew{
    max-height: 130px;
    justify-self: center;
    pointer-events: none;
}

.swiper-secTwoNew{
    grid-column: span 12;
    overflow: hidden;
} 

@media (max-width:876px){
    .mission-cardNew{
        padding-right:5.5rem;
        padding-left:5.5rem;
    } 
    
}
@media (max-width:782px){
    .mission-cardNew{
        padding-right:4.5rem;
        padding-left:4.5rem;
    } 
    
}
@media (max-width:713px){
    .mission-cardNew{
        padding-right:3.5rem;
        padding-left:3.5rem;
    } 
    
}
@media (max-width:648px){
    .mission-cardNew{
        padding-right:2.5rem;
        padding-left:2.5rem;
    } 
    
}
@media (max-width:586px){
    .mission-cardNew{
        padding-right:2rem;
        padding-left:2rem;
    } 
    
}
@media (max-width:555px){
    .mission-cardNew{
        padding-right:6.5rem;
        padding-left:6.5rem;
        margin: auto;
    } 
    
}
@media (max-width:426px){
    .mission-cardNew{
        padding-right:2.5rem;
        padding-left:2.5rem;
    } 
    
}

@media (max-width:464px){
    .secTwoNew-grid-system{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:auto;
        width: 100%;
    }

.two-headlineNew{
    grid-column: span 4;
    
}

.two-subheadlineNew{
    grid-column: span 4;
    
}
.swiper-secTwoNew{
    grid-column: span 4;
}
}

@media(max-width:296px) {
    .two-headlineNew{
        height: fit-content;
        margin-bottom: 2rem;
    }
    
}