.sec-five-container{
    background-color: #fff;
    min-height: 700px;
    display: grid;
    align-content: center;
}
.section-five{
    max-width: 1500px;
    margin:30px auto;
    color: #00544f;
}
.sec-five-text{
    grid-column: span 6;
    display: grid;
    padding: 2rem 1rem;
    grid-template-rows: 20% 60% 20%;
}

.five-title{
    display: grid;
    align-content: center;
    font-size: 4rem;
}

.five-para{
    display: grid;
    align-content: center;
    font-size: 1.4rem;
}

.sec-five-button{
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    color: #00544f;
    padding: .8rem 3rem;
    font-size: 1.2rem;
    border: #00544f solid 1px;
}

.sec-five-img{
    grid-column: span 6;
}
.five-img{
    width: 95%;
}