.section-six-container{
    background-color: #00544f;
    min-height: 350px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.section-six{
    max-width:1500px;
    margin: 30px auto;
    color:#fff;
  
}

.sec-six-text{
    grid-column: span 12;
    justify-self: center;
    text-align: center;
    font-size: 4rem;
}
.sec-six-subtext{
    grid-column: span 12;
    text-align: center;
    justify-self: center;
    font-size: 1.2rem;
    margin-bottom: 11px;
    width: 90%;
}
@media (max-width:1270px){
    .sec-six-text{
        font-size: 3.41rem;
    }
    .sec-six-subtext{
        font-size: 1.1rem;
    }
}
@media (max-width:1093px){
    .sec-six-text{
        font-size: 3.1rem;
    }
    .sec-six-subtext{
        font-size: 1rem;
    }
}
@media (max-width:1000px){
    .sec-six-text{
        font-size: 2.8rem;
    }

}
@media (max-width:910px){
    .sec-six-text{
        font-size: 2.7rem;
    }
    .sec-six-subtext{
        font-size: .9rem;
    }
}
@media (max-width:616px){
    .sec-six-text{
        font-size: 2.6rem;
    }
    .sec-six-subtext{
        font-size: .8rem;
    }
}
@media (max-width:593px){
    .sec-six-text{
        font-size: 2.5rem;
    }
}
@media (max-width:593px){
    .sec-six-text{
        font-size: 2.2rem;
    }
}
@media (max-width:502px){
    .section-six-container{
        min-height: 250px;
    }

    .sec-six-text{
        font-size: 2rem;
    }
}
@media (max-width:456px){
    .sec-six-text{
        font-size: 1.8rem;
    }
}
@media (max-width:411px){
    .sec-six-text{
        font-size: 1.7rem;
    }
}
